.item {
    border-radius: 8px;
    margin: 5px;
    padding: 20px;
    background: lightslategray
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
}

.d1 {
    background: orange;
}
.d2 {
    background: rgb(233, 123, 83);
    grid-column: 2 / span 10;
}
.d3 {
    background: lightblue;
}
.d4 {
    background: lightgreen;
}
.d5 {
    background: lightskyblue
}
.d6 {
    background: plum;
    grid-column: 3 / span 8;
}
.d7 {
    background: orange;
}
.d8 {
    background: orangered;
}
.d9 {
    background: lightblue;
}
.d10 {
    background: lightgreen;
}
.d11 {
    background: lightskyblue
}
.d12 {
    background: rgb(163, 233, 73);
    grid-column: 4 / span 6;
}
.d20 {
    background: rgb(65, 97, 240);
    grid-column: 5 /span 4;
}
.d30 {
    background: lightgreen;
    grid-column: 6 / span 2;
}